html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #334352;
    text-align: center;
}
.content {
    flex: 1;
    padding: 20px;
}
h1 {
    color: #87909c;
}
h2 {
    color: #87909c;
}
.h3-blue {
    color: #629cd5;
}
.h3-red {
    color: #be7979;
}
h4 {
    color: #87909c;
}
h5 {
    color: #5c9997;
}
.h5-cream {
    color: #858681;
}
table {
    margin: 40px auto;
}
th, td {
    padding: 15px;
}
.emoji-button {
    font-size: 3em;
    background: transparent;
    border: none;
    cursor: pointer;
}
footer {
    background-color: #334352;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
}
.logout-button {
    background-color: #c88686;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.logout-button:hover {
    background-color: #ab3030;
}