{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block header %}<h1>Welcome to Puns!</h1>{% endblock %}
{% block content %}
    <image alt="I milked an almond cow" style="max-width:98%;" src="{{url_for('static', filename='images/milked_almond_crop.jpg')}}">
    <p style="text-align:center;"> Photo by <a href="https://unsplash.com/@dsalcius?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel Salcius</a> on <a href="https://unsplash.com/photos/teal-painted-wall-w17JwWyRPoE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> (cropped)</p>
{% endblock %}