{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block content %}
    <!-- flash messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p><h5>{{ msg }}</h5></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <form id="playForm" action="{{url_for('view_answer')}}" method="POST">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <br>
            {% for item in values %}
                {% if loop.index == 1 %}
                    <h3 class="h3-blue text-center">{{ item }}</h3>
                {% elif loop.index == 2 %}
                    <br>
                    <h3 class="h3-red text-center">{{ item }}</h3>
                {% endif %}
            {% endfor %}
            <br>
            <div class="text-center">
                 {% for item in values %}
                     {% if loop.index == 3 %}
                         {{ item }}
                     {% endif %}
                 {% endfor %}
                 <br><br>
                 <p><h5>Press any key ~</h5></p>
            </div>
        </form>
    </div>
    <br><br><br><br><br><hr>
    <p style="text-align: center;"><a href="{{url_for('logout')}}">Logout</a></p>
    <script>
        document.addEventListener('keydown', function(event) {
            document.getElementById('playForm').submit();
        });
    </script>
{% endblock %}
