{% extends "base.html" %}
{% block title %}View Answer{% endblock %}
{% block content %}
    <!-- flash messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Left section -->
                {% for item in values %}
                    {% if loop.index == 1 %}
                        <h3 class="h3-blue text-center">{{ item }}</h3>
                    {% elif loop.index == 2 %}
                        <h3 class="h3-red text-center">{{ item }}</h3>
                    {% else %}
                        <br>
                        <h4 class="text-center">{{ item }}</h4>
                    {% endif %}
                {% endfor %}
                <hr><br>
            </div>
            <div class="col-md-4">
                <!-- Right section -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Groan Scale</th>
                            <th>Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for groan_scale, n_votes in data %}
                        <tr>
                            <td>{{ groan_scale }}</td>
                            <td>{{ n_votes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center;"><a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}