{% extends "base.html" %}
{% block title %}View Answer{% endblock %}
{% block header %}
    <!-- Confetti script for success/failure reactions -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <script>
        var scalar = 2;
        var unicorn = confetti.shapeFromText({ text: '🦄', scalar });
        var lobster = confetti.shapeFromText({ text: '🦞', scalar });
    
        var defaults = {
            spread: 360,
            ticks: 140,
            gravity: 0.8,
            decay: 0.9,
            startVelocity: 35,
            shapes: [unicorn],
            scalar
        };
    
        function shootUnicorns() {
            confetti({
                ...defaults,
                shapes: [unicorn],
                particleCount: 300
            });
            confetti({
                ...defaults,
                shapes: [unicorn],
                particleCount: 150,
                startVelocity: 55,
                flat: true
            });
            confetti({
                ...defaults,
                particleCount: 100,
                scalar: scalar / 2,
                shapes: ['square']
            });
        }
    
        function shootLobsters() {
            confetti({
                ...defaults,
                shapes: [lobster],
                particleCount: 100,
                flat: true,
                gravity: 0.1,
                startVelocity: 20,
                scalar: 3
            });
        }
        // If user guesses correctly according to weighted avg score
        var correctGuess = {{ correct_guess | safe }};
        if (correctGuess) {
            setTimeout(shootUnicorns, 0);
            setTimeout(shootUnicorns, 100)
        } else {
            setTimeout(shootLobsters, 0)
        }
    </script>
{% endblock %}
{% block content %}
    <!-- flash messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Left section -->
                {% for item in values %}
                    {% if loop.index == 1 %}
                        <h3 class="h3-blue text-center">{{ item }}</h3>
                    {% elif loop.index == 2 %}
                        <h3 class="h3-red text-center">{{ item }}</h3>
                    {% else %}
                        <br>
                        <h4 class="text-center">{{ item }}</h4>
                    {% endif %}
                {% endfor %}
                <hr><br>
                <form action="{{url_for('play')}}" method="POST">
                    <h4>{% if correct_guess %}
                            <h3 class="h3-blue text-center">Great punning!</h3>
                        {% else %}
                            <h3 class="h3-red text-center">Better luck next time...</h3>
                        {% endif %}
                        {% for feedback in ["AGREE", "DISAGREE"] %}
                            <button type="submit" class="btn-info" name="feedback" value="{{ feedback }}">{{ feedback }}</button>
                        {% endfor %}
                    </h4>
                </form>
            </div>
            <div class="col-md-4">
                <!-- Right section -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Model</th>
                                <th>Match Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for model_name, score in data %}
                            <tr>
                                <td>{{ model_name }}</td>
                                <td>{{ score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center;"><a href="{{url_for('logout')}}">Logout</a></p>
{% endblock %}