{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block content %}
    <!-- flash messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <form action="{{url_for('view')}}" method="POST">
            <br>
            {% for item in values %}
                <h3 class="text-center">{{ item }}</h3>
            {% endfor %}
            <br>
            <table border="1">
                <thead>
                    <tr>
                        <th>Your Answer</th>
                        <th>Model</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_answer, model_name, score in data %}
                    <tr>
                        <td>{{ user_answer }}</td>
                        <td><button type="submit" class="btn-info" name="selected_model" value="{{ model_name }}">{{ model_name }}</button></td>
                        <td>{{ score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <hr>
    <p style="text-align: center;"><a href="{{url_for('logout')}}">Logout</a></p>
{% endblock %}