{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block content %}
    <!-- flash messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <form action="{{url_for('view_answer')}}" method="POST">
            <br>
            {% for item in values %}
            {% if loop.index == 1 %}
                <h3 class="h3-blue text-center">{{ item }}</h3>
            {% else %}
                <h3 class="h3-red text-center">{{ item }}</h3>
            {% endif %}
            {% endfor %}
            <br>
            <center><textarea name="user_answer" rows="2" cols="80" maxlength = "100"></textarea></center>
            <center><input type="submit" class="btn-info" value="VIEW ANSWER"></center>
        </form>
    </div>
    <hr>
    <p style="text-align: center;"><a href="{{url_for('logout')}}">Logout</a></p>
{% endblock %}
