{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    <!-- Redo for Puns -->
        {% for item in values %}
            <p>Username: {{item.username}}, Password: {{item.password}}</p>
        {% endfor %}
    <!-- <form action="#" method="POST">
        <p>Delete:</p>
        <input type="username" name="username" placeholder="Enter Name" value="{{username if username}}"/>
        <input type="submit" value="submit"/>
    </form> -->
    {% endwith %}
    <a href="{{url_for('logout')}}">Click here to logout.</a>
{% endblock %}