{% extends "base.html" %}
{% block title %}View Users{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% for item in values %}
            <p>Username: {{item.username}}, Password: {{item.password}}</p>
        {% endfor %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    <form action="#" method="POST">
        <p>Delete:</p>
        <input type="username" name="username" placeholder="Enter Name" value="{{username if username}}"/>
        <input type="submit" value="submit"/>
    </form>
    {% endwith %}
{% endblock %}