{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
    <!-- flash messages before header -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    <h1>Signup</h1>
    {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
{% endblock %}